processed/
data/davis_test.csv
data/davis_train.csv
data/kiba_test.csv
data/kiba_train.csv
__pycache__/
*.model
result_full_GCNNet_allergy.csv
result_full_GCNNet_davis.csv
result_full_GCNNet_kiba.csv
result_full_GEN_allergy.csv
result_full_GEN_davis.csv
result_full_GEN_kiba.csv
result_full_va_GCNNet_allergy.csv
result_full_va_GCNNet_davis.csv
result_full_va_GCNNet_kiba.csv
result_full_va_GEN_allergy.csv
result_full_va_GEN_davis.csv
result_full_va_GEN_kiba.csv
result_validation_GCNNet_allergy.csv
result_validation_GCNNet_davis.csv
result_validation_GCNNet_kiba.csv
result_validation_GEN_allergy.csv
result_validation_GEN_davis.csv
result_validation_GEN_kiba.csv